@import "tailwindcss";

html,
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  background-color: #f3f4f6; /* Tailwind's gray-100 */
}

button,
a,
label,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="checkbox"] {
  cursor: pointer;
}
